/* FONT IMPORT  */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* GENERAL STYLES */

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
  position: relative;
}

ul {
  list-style: none;
}

button {
  border: 1px solid;
  cursor: pointer;
}

/* BMI CALCULATOR STYLES */

.blur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

button.switch_btn,
button.switch_btn_back {
  background: black;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
}

button.switch_btn {
  border-radius: 13px 5px 5px 5px;
  transform: translate(-15px, -15px);
}

button.switch_btn_back {
  margin: 0.5rem;
}

main {
  display: grid;
  place-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bmi-container {
  height: 80vh;
}

#bmi-calculator {
  border: 2px solid;
  padding: 1.5rem;
  border-radius: 20px;
}

.bmi_head {
  text-align: center;
  font-weight: 600;
  font-size: 1.7rem;
}

/* GENDER ARTICLE STYLES */

.gender,
.bmi_parameters {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.gender_head,
.paremeters_head {
  font-size: 1.5rem;
  font-weight: 400;
}

.gender div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gender div figure {
  text-align: center;
  cursor: pointer;
}

.gender div figcaption {
  margin-top: 0.5rem;
}

/* PARAMETERS ARTICLE STYLES */

.bmi_parameters ul {
  list-style: none;
}

.bmi_parameters ul li label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.bmi_parameters ul li label input {
  outline: none;
  border: 1px solid;
  background: transparent;
  height: 30px;
  width: 150px;
  margin-left: 1rem;
  padding-left: 0.5rem;
}

.input-label p {
  font-size: 0.8rem;
}

.bmi_parameters button {
  border: 1px solid;
  outline: none;
  outline-color: none;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transform: translateX(2px);
}

.male,
.female {
  opacity: 0.7;
}

.male.active {
  opacity: 1;
}

.female.active {
  opacity: 1;
}

/* CSS TO JS STYLES */

/* BMI-CALCULATOR RESPONSIVE DESIGN */

@media screen and (max-width: 990px) {
  #bmi-calculator {
    padding: 1.3rem;
  }

  .bmi_head {
    font-weight: 500;
    font-size: 1.7rem;
  }

  /* GENDER ARTICLE STYLES */

  .gender,
  .bmi_parameters {
    margin-top: 1rem;
    gap: 1rem;
  }

  .gender_head,
  .paremeters_head {
    font-size: 1.3rem;
    font-weight: 400;
  }

  /* PARAMETERS ARTICLE STYLES */

  .bmi_parameters ul li label input {
    padding: 0 0.5rem;
  }

  .bmi_parameters button {
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transform: translate(2px, -5px);
  }
}

@media screen and (max-width: 430px) {
  #bmi-calculator {
    padding: 0.8rem;
  }
  .switch_btn:first-of-type {
    transform: translate(-5px, -5px);
  }
}

@media screen and (max-width: 400px) {
  #bmi-calculator {
    padding: 0;
    width: 100vw;
    border: none;
  }

  /* GENDER ARTICLE STYLES */

  .gender,
  .bmi_parameters {
    margin-top: 2rem;
  }

  .gender_head,
  .paremeters_head {
    font-size: 1.4rem;
    font-weight: 200;
  }

  /* PARAMETERS ARTICLE STYLES */

  .bmi_parameters button {
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transform: translate(2px, -10px);
  }
}

@media screen and (max-width: 305px) {
  .bmi-container {
    width: 80vw;
  }

  #bmi-calculator {
    max-width: 100vw;
    padding: 1rem;
  }
}

/* BMI RESULT SUMMARY */

.bmi-container {
  display: grid;
  place-content: center;
  height: 100vh;
}

#bmi-result {
  border: 2px solid;
  padding: 1.5rem;
  position: relative;
  background: whitesmoke;
  z-index: -100;
  opacity: 0;
  transition: all 0.5s;
}

#bmi-result.active {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.back_btn {
  outline: none;
  outline-color: none;
  border: 1px solid;
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 1.1rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: 10px;
  left: 10px;
}

.bmi-card {
  margin: 2rem;
  padding: 1rem;
  font-weight: 600;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card_head {
  font-weight: 400;
  text-align: center;
}

.result {
  display: grid;
  place-content: center;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
}

.bmi_track {
  display: flex;
  justify-content: center;
  margin: 1rem;
  list-style: none;
  position: relative;
}

.bmi_track li {
  width: 30px;
  height: 10px;
}

.bmi_track li:first-of-type {
  background: yellowgreen;
  border-radius: 10px 0 0 10px;
}

.bmi_track li:nth-of-type(2) {
  background: green;
}

.bmi_track li:nth-of-type(3) {
  background: orange;
}

.bmi_track li:last-of-type {
  background: red;
  border-radius: 0 10px 10px 0;
}

.bmi-thumb {
  background: black;
  height: 20px;
  width: 3px;
  position: absolute;
  top: -30%;
}

.conclusion {
  padding: 0.5rem;
  text-align: center;
}

.conclusion span {
  font-weight: 200;
  font-style: italic;
}

.save-option {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 460px) {
  /* BMI RESULT SUMMARY */

  #bmi-result {
    width: 80vw;
  }

  .back_btn {
    font-size: 0.8rem;
  }

  .card_head {
    font-size: 1.1rem;
  }

  .bmi-card {
    padding: 0.6rem;
  }

  .conclusion {
    padding: 0;
  }

  .save-option {
    gap: 0.5rem;
    transform: translateY(-8px);
  }

  .save-option img {
    width: 15px;
  }
}

@media screen and (max-width: 330px) {
  /* BMI RESULT SUMMARY */

  .bmi-container {
    display: grid;
    place-content: center;
    height: 100vh;
  }

  #bmi-result {
    padding: 1rem;
  }

  .back_btn {
    font-size: 0.9rem;
  }

  .bmi-card {
    padding: 0.8rem;
  }

  .bmi-card {
    margin: 0;
    margin-top: 1.5rem;
  }

  .conclusion {
    padding: 0.3rem;
  }
  .save-option {
    transform: translateY(5px);
    margin: 1rem;
  }
}

@media screen and (max-width: 305px) {
  #bmi-result {
    transform: translateX(15%);
  }

  .bmi_track {
    margin: 0;
  }

  .bmi_track li {
    width: 100px;
    margin-bottom: 0.5rem;
  }
}

/* SAVED PAGE STYLES */

.saved_bmi_results_head {
  text-align: center;
  transform: translateY(30px);
  font-weight: 500;
  font-size: 2rem;
}

.saved_bmi_list {
  transform: translateY(80px);
  min-height: 70vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.saved_result_card {
  margin-bottom: 1.5rem;
  padding: 1rem 0.9rem 2rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.saved_gender_container,
.saved_bmi_container,
.saved_bmi_scale_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.3rem;
}

.saved_gender_container {
  gap: 3.1rem;
}

.saved_bmi_container {
  gap: 5.5rem;
}

.saved_gender_head,
.saved_card_head,
.saved_bmi_track_head {
  font-weight: 500;
  font-size: 1.4rem;
}

.saved_gender_container p,
.saved_result {
  font-size: 1.1rem;
  font-weight: 300;
}

.saved_bmi_track {
  display: flex;
  justify-content: center;
  margin: 1rem;
  list-style: none;
  position: relative;
}

.saved_bmi_track li {
  width: 30px;
  height: 10px;
}

.saved_bmi_track li:first-of-type {
  background: yellowgreen;
  border-radius: 10px 0 0 10px;
}

.saved_bmi_track li:nth-of-type(2) {
  background: green;
}

.saved_bmi_track li:nth-of-type(3) {
  background: orange;
}

.saved_bmi_track li:last-of-type {
  background: red;
  border-radius: 0 10px 10px 0;
}

.saved_bmi-thumb {
  background: black;
  height: 20px;
  width: 3px;
  position: absolute;
  top: -30%;
}

.saved_conclusion {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.2rem;
  font-weight: 400;
}

.saved_delete-option {
  text-align: center;
  padding-top: 2rem;
}

/* SAVED RESULTS PAGE RESPONSIVE DESIGN */

@media screen and (max-width: 700px) {
  .saved_bmi_list {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 490px) {
  .saved_bmi_results_head {
    font-weight: 400;
  }
}

@media screen and (max-width: 380px) {
  /* SAVED PAGE STYLES */

  .saved_bmi_results_head {
    font-size: 1.6rem;
  }

  .saved_bmi_list {
    padding: 0 1rem;
  }

  .saved_result_card {
    padding: 0.8rem 0.9rem 1.5rem 1.5rem;
  }

  .saved_gender_container,
  .saved_bmi_container,
  .saved_bmi_scale_container {
    margin-top: 1rem;
  }

  .saved_gender_container {
    gap: 3.1rem;
  }

  .saved_bmi_container {
    gap: 5.2rem;
  }

  .saved_gender_head,
  .saved_card_head,
  .saved_bmi_track_head {
    font-size: 1.2rem;
  }

  .saved_gender_container p,
  .saved_result {
    font-size: 1rem;
  }

  .saved_conclusion {
    padding-right: 1.2rem;
    font-weight: 400;
  }

  .saved_delete-option {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 330px) {
  .saved_bmi_results_head span {
    display: none;
  }

  .saved_gender_container,
  .saved_bmi_container,
  .saved_bmi_scale_container {
    display: block;
  }
}
